<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987567720842-v72ugv7cvbilp2aekpjth4bktsvou2k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987567720842-v72ugv7cvbilp2aekpjth4bktsvou2k7</string>
	<key>API_KEY</key>
	<string>AIzaSyD_UjuykPnz2PZ-JGEvw7OMa0E7vjMLywY</string>
	<key>GCM_SENDER_ID</key>
	<string>987567720842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthenticationApp</string>
	<key>PROJECT_ID</key>
	<string>fir-authentication-app-a7337</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authentication-app-a7337.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987567720842:ios:116336291dffa6b047e073</string>
</dict>
</plist>